@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #fffbdf;
    --secondary-color: #8CBEB2;
    --shadow-details-color: #F3B562;
    --shadow-details-2-color: #F2EBBF;
    --tittles-mark-color: #F06060;
    --text-color: #5C4B51;

    --munitoSans-font: "Nunito Sans", sans-serif;
    --workSans-font: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: var(--munitoSans-font);
}

header{
    background-color: var(--secondary-color);
    min-height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
}

.vinculoHeader{
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s;
    margin: 0 10px 0 10px;
}
.vinculoHeader:hover{
    color: var(--background-color);
}

.tituloDiv{
    display: flex;
    justify-content:center;
    align-items: center;
}
.titulo{
    color: rgba(0, 0, 0, 0);
    background-image: url("https://i.pinimg.com/736x/da/83/a3/da83a33fdd57e4c8dac3fe2e09f0de78.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: text;
    font-family: var(--workSans-font);
    font-size: 28px;
}

.parrafo{
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

footer{
    height: 60px;
    background-color: var(--background-color);
    display: flex;
    justify-content:center;
    align-items: center;
}