@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.nunito-sans-munitoSans{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

:root{
    --background-color: #fffbdf;
    --secondary-color: #8CBEB2;
    --shadow-details-color: #F3B562;
    --shadow-details-2-color: #F2EBBF;
    --tittles-mark-color: #F06060;
    --text-color: #5C4B51;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}

header{
    background-color: var(--secondary-color);
    min-height: 60px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.vinculoHeader{
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s;
    margin: 0 10px 0 10px;
}
.vinculoHeader:hover{
    color: var(--background-color);
}

.titulo{
    color: var(--tittles-mark-color);
}

#parrafo{
    text-align: center;
}

footer{
    height: 60px;
    background-color: var(--background-color);
    display: flex;
    justify-content:center;
    align-items: center;
}