<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <header>
        <a href="/index.html">Home</a>
        <a href="/templates/galeria.html">Galeria</a>
        <a href="/templates/tabla.html">Tabla</a>
        <a href="/templates/listas.html">Listas</a>
        <a href="/templates/formulario.html">Formulario</a>
        <a href="https://www.google.com.ar/index.html" target="_blank">Google</a>
    </header>
    <main>
        <section>
            <p>Lista ordenada</p>
            <ol>
                <li>Esmeralda</li>
                <li>Peridot</li>
                <li>Cuarzo</li>
            </ol>
        </section>
        <section>
            <p>Lista desordenada</p>
            <ul>
                <li>Esmeralda</li>
                <li>Peridot</li>
                <li>Cuarzo</li>
            </ul>
        </section>
        <section>
            <p>Lista definicion</p>
            <dl>
                <dt>azucar</dt>
                    <dd>impalpable</dd>
                    <dd>negra</dd>
                <dt>harina</dt>
                    <dd>leudante</dd>
                    <dd>0000</dd>
            </dl>
        </section>
        <section>
            <p>Lista dependiente</p>
            <ul>
                <li>lunes</li>
                <ul>
                    <li>tarde</li>
                    <li>noche</li>
                </ul>
            </ul>
        </section>
    </main>
    <footer>
        <p>Página hecha por lucia9bide en GitHub</p>
    </footer>
</body>
</html>